<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @folder.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @folder.note %>
</p>

<table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.url %></td>
        <td><%= url.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add URLs', folder_add_urls_path(@folder)  %> |
<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
